@import "tailwindcss";

.container {
    max-width: 90%;
    margin: 0 auto;
}

.technologies {
    @apply mb-2;
}
.techStack {
    @apply flex flex-wrap gap-4 justify-start items-center;
    margin: 0 auto;
}

.projectGrid {
    @apply grid grid-cols-2 gap-8 p-4 w-full;
    margin: 0 auto;
}
.url {
    color: var(--accent);
    @apply ml-3 w-fit;
}
.coloredBorder {
    @apply w-full h-full p-[1px];
    transform: skew(1deg);
    background: var(--curtain-gradient), color-mix(in oklab, var(--bg-color-2) 60%, transparent);
    background-blend-mode: multiply;
    > article {
        background: var(--bg-color-2);
        @apply w-full h-full p-6 text-center;
        transform: skew(-2deg);
        box-shadow: 0 0 10px 2px var(--color-3)
    }
}
.projectCard {
    @apply flex;
}
.unskew {
    @apply flex flex-col items-center p-4 flex-1 transition-transform duration-300;
    background: var(--bg-color-2);
    transform: skew(1deg);
}


.descriptionWrapper {
    @apply w-full flex-1;
}

.techStackIcon {
    @apply relative flex flex-col w-[38px] h-[38px] items-center gap-4;
}

.techStackIcon:hover .tooltip {
    @apply opacity-100
}

.description {
    @apply text-center mt-2 flex-1;
    color: var(--color-1);
    font-size: 1.2rem;
}
.title {
    font-size: 4rem;
    background-image: var(--text-gradient);
    @apply mb-2 font-bold py-8 bg-clip-text text-transparent text-center text-8xl;
}


h1.title {
    @apply text-8xl;
}
h2.title {
    @apply text-4xl;
}

.line {
    @apply w-full h-[1px] my-4;
    background: var(--curtain-gradient);
    opacity: 0.6;
}
.subdescription {
    @apply text-center mt-2;
    font-size: 1rem;
    color: var(--color-1);
}

.boxes {
    @apply flex flex-row justify-between items-center w-full gap-4;
}

.box {
    @apply p-4 rounded-lg shadow-md text-left;
    box-shadow: 0 0 4px 1px inset var(--color-4);
}

.box:nth-child(1) {
    @apply flex-1;
}

@media (max-width: 768px) {
    .projectGrid {
        @apply grid-cols-1;
    }
    .boxes {
        @apply flex-col;
    }
    .box {
        @apply w-full;
    }

    h1.title {
        @apply text-4xl;
    }
    h2.title {
        @apply text-2xl;
    }
    .description {
        @apply text-sm;
    }
}